.main-nav-button {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s, transform 0.3s;
  margin: 0 auto 20px;
}

.main-nav-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
