/* FormButton.css */
.form-button-container {
    display: flex;
    justify-content: center;
  }
  
  .form-button {
    padding: 10px 20px;
    background-color: #007bff; /* Adjust color as needed */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form-button:hover {
    background-color: #0056b3; /* Adjust hover color as needed */
  }
  